# Build outputs
bin/
obj/

# NuGet packages directory
/packages/

# Rider project files
.idea/
*.dotSettings.user
riderModule.iml
/_ReSharper.Caches/

# Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# Resharper or other JetBrains caches
_ReSharper*/
*.DotSettings.user

# OS-specific files
.DS_Store
Thumbs.db

# Logs, temps
*.log
*.tmp
*.temp
*.pid
*.seed
*.bak
